.profile-section {
  background-color: hsl(0, 0%, 12%);
  color: azure;
  width: 385px;
  border-radius: 16px;
  margin: 0 auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.profile-section__top {
  display: flex;
  flex-direction: column;
  gap: 24px;
  /* justify-content: center; */
  align-items: center;
}
.profile-section__img {
  height: 90px;
  width: 90px;
  border-radius: 200px;
}
.profile-section__heading-group {
  text-align: center;
}
.profile-section__heading-group h1 {
  margin: 0;
  margin-bottom: 8px;
  font-size: 28px;
  font-weight: 700;
}

.profile-section__heading-group h3 {
  margin: 0;
  color: hsl(75, 94%, 57%);
  font-size: 16px;
  font-weight: 600;
}
.profile-section__summary {
}
.profile-section__bottom {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.profile-section__social-links {
  background-color: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 100%);
  border: none;
  outline: none;
  padding: 14px 0;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}
.profile-section__social-links:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 12%);
  transition: all 0.3s;
}
