.container {
  background-color: hsl(0, 0%, 8%);
  height: 100vh;
  /* width: 100%; */
  padding: 40px 0;
}

@media (max-width: 375px) {
  .container {
    padding: 20px; /* Adjust padding for smaller screens */
  }
}
